* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.btn_href {
  border: none;
  background-color: white;
  font-size: 16px;
  color: blue;
  cursor: pointer;
}

.input-num {
  padding: 7px;
  width: 100%;
  display: flex;
  border: solid rgb(225, 225, 225) 1.5px;
  width: 250px;
  height: 35px;
  border-radius: 3px;
  padding-left: 9px;
  margin-bottom: 7px;
}

.btn {
  width: 252px;
  height: 32px;
  border: solid rgb(225, 225, 225) 0px;
  color: #fff;
  background-color: #0095f6;
  border-radius: 8px;
  opacity: 70%;
  margin-bottom: 15px;
}

.btn:hover {
  background-color: #0083f6;
}

.cont {
  border: solid rgb(225, 225, 225) 1px;
  margin-top: 5%;

  text-align: center;
  justify-content: center;
}

.qqq {
  display: flex;
  gap: 15px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.odsa {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #737373;
  align-items: center;
}

.ee {
  display: flex;
  text-align: center;
  justify-content: center;
}

.Verified {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #737373;
  margin: 0 auto;
  align-items: center;
}

.ss {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 5px;
}
.enss {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #737373;
  align-items: center;
}

.asad {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #737373;
  align-items: center;
  transform: rotate(90deg);
}

.ds {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #737373;
  align-items: center;
}
